.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form {
  width: 100%;
}

.login__form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: bold;
}

.login__username {
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login__button {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.login__button:hover {
  background-color: #0056b3;
}
