.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  background-color: #2b2d42;
  padding: 10px 20px;
  color: #fff;
}

.header-title {
  margin: 0;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  flex: 1 1 100%;
}

.header-nav {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-button {
  background-color: #4a4e69;
  color: #edf2f4;
  padding: 10px 10px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-button:hover {
  background-color: #9a8c98;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }

  .header-title {
    font-size: 1.5rem;
  }

  .header-nav {
    position: static;
    transform: none;
    justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .header-title {
    font-size: 1.2rem;
  }

  .nav-button {
    padding: 8px 5px;
    font-size: 0.9rem;
  }
}
