* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #74b9ff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2d3436;
  padding: 10px;
}

.container {
  width: 90%;
  max-width: 600px;
  min-width: 300px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #0984e3;
}

.current-word-section {
  margin-bottom: 20px;
  padding: 15px;
  font-size: large;
  border: 2px solid #74b9ff;
  border-radius: 8px;
  background-color: #f7f9fa;
}
.current-stored-word {
  display: block;
  font-weight: bold;
  color: #d63031;
  background-color: #ffeaa7;
  padding: 10px;
  margin: 15px 0;
  border-radius: 8px;
}

.form-section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px dashed #74b9ff;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #2d3436;
  text-align: left;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #dfe6e9;
  border-radius: 8px;
  background-color: #f0f0f0;
  font-size: 1rem;
}

input[type="text"]:focus {
  background-color: #ffffff;
  border-color: #74b9ff;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #0984e3;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
}

a {
  display: inline-block;
  margin-top: 10px;
  color: #0984e3;
  text-decoration: none;
}

a:hover {
  color: #74b9ff;
  text-decoration: underline;
}

@media (max-width: 400px) {
  .container {
    padding: 20px;
  }

  input[type="text"],
  button {
    font-size: 0.9rem;
    padding: 10px;
  }
}

@media (max-width: 300px) {
  .container {
    width: 100%;
    min-width: 300px;
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .highlight {
    font-size: 1.2rem;
  }
}
